@model Magazine

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form asp-action="AddMagazine" method="post">
        <div>
            <label asp-for="Title"></label>
            <input asp-for="Title">
            <span asp-validation-for="Title"></span>
        </div>
    <input type="submit">

    </form>
</body>
</html>